@media screen and (max-width:700px) {
    header .conatiner {
        display: flex;
        flex-direction: column;
    }
    .btn {
        margin-top: 5px;
        width: 190px;
        height: 600px;
    }
}

@media screen and (min-width:1000px) {
    .descricao {
        width: 40%;
    }
}